.App {
  text-align: center;
  color: whitesmoke;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  min-height: 75px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.navbar ul {
  display: flex;
  width: 50%;
  overflow: hidden;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  list-style: none;
  background: rgba(0, 0, 0, 0.6);
}

.navbar h3 {
  background: none;
}

.nav-links li {
  display: flex;
  width: 50%;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  text-decoration: none;
  background: black;
}

.contact {
  text-align: center;
}

/* .about {
  height: 50vh;
} */

.jumbotron {
  background-image: url(https://www.justdelegate.co/media/32578521_1622880617829224_4062586552851628032_o.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}

.jumbotron h1 {
  background: none;
  padding-bottom: 50px;
}

.jumbotron p {
  background: none;
  padding-bottom: 0px;
}

.alert-dark {
  background: none;
}

.slider {
  grid-column: 1 / -1;
  height: 50vh;
  min-width: 100%;
  padding-top: 0;
}

.sidebar {
  background: none;
  padding: 10%;
}

.sidebar li {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.main {
  background: none;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main li {
  text-decoration: none;
}

.main .order-item {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .order-item ul {
  text-align: end;
}

.footer {
  grid-column: 1 / -1;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

.footer h5 {
  background: rgba(0, 0, 0, 0.1);
  font-size: small;
}
